{{ partial "head.html" . }}
<div class="content container">

  <div class="page">

<h1>About me</h1>

<blockquote>
<strong>NEWS</strong><br>
<li><u>Invited talk</u>: I will be speaking at the <a href="https://www.bayeswatch.com/affordable_ml/">Affordable Machine Learning Workshop</a> at University of Edinburgh on June 30th.
<li><u>CVPR 2023</u>: I will be attending CVPR in Vancouver and presenting our latest work 'Learning to Name Classes for Vision and Language models'. Paper available <a href="https://arxiv.org/pdf/2304.01830.pdf">here</a>.
<li><u>Continual Learning Benchmark</u>: We released our new CLAD benchmark for classification with realistic transitions and domain incremental object detection. Find more details <a href="https://github.com/VerwimpEli/CLAD">here</a>. 
</blockquote>



<p> I am currently a Machine Learning Team Leader at Huawei's <a href="https://www.noahlab.com.hk/">Noah's Ark Lab </a> in London. My current research focuses on data efficient learning, vision-language models and interactive text-to-image generative models.   </p>

<p>After graduating from the <a href="https://www.centralesupelec.fr/">Ecole Centrale Paris</a>, one of France’s top engineer schools, I did my PhD in the Center for Visual Computing at Ecole Centrale Paris under the supervision of <a href="https://en.wikipedia.org/wiki/Nikos_Paragios">Prof. Nikos Paragios</a>. There, I worked on brain tumour analysis, with a strong focus on segmentation, clustering methods and atlas construction.
My PhD was also partly funded by <a href="http://www.intrasense.fr/">Intrasense</a>, a french start up developing medical imaging softwares and we worked closely with Prof. Hugues Duffau, a world renown neurosurgeon specialised on diffuse low-grade gliomas.</p>

<p>Over the course of my PhD, I visited the <a href="https://www.spl.harvard.edu/">Surgical Planning Laboratory</a> at Harvard Medical School for three months where I was supervised by <a href="https://people.csail.mit.edu/sw/">Prof. William Wells III</a>. I extended my work on tumour segmentation and registration for pre-operative and intra-operative brain registration for tumour resection.</p>

<p>After finishing my PhD in 2013, I joined the Biomedical Image Analysis Group at Imperial College London working with <a href="http://www.doc.ic.ac.uk/~dr/">Prof. Daniel Rueckert </a> on the <a href="http://www.developingconnectome.org/">developing human connectome project</a> (dHCP). The dHCP is an ERC synergy grant programme in collaboration between King’s College London, Imperial College London and Oxford University. The aim of the project is to create and study the first 4-dimensional brain connectivity map of early life.</p>

<p>Under the scope of the dHCP, I have been developing methods for connectivity-driven brain parcellation through spectral clustering and Markov Random Field models. More recently, I have explored the concept of deep learning on graphs for brain analysis.</p>

<p> I then joined <a href="https://aimbrain.com/">Aimbrain</a> as a Machine Learning Researcher, working on biometric user re-identification and Visual Question Answering.</p>

<p>I co-organised several workshops and symposia:
  <ul>
  <li><a href="http://biomedic.doc.ic.ac.uk/bih-symposium/">Big Data Initiatives for Connectomics Research</a> at <a href="http://braininformatics.london/">BIH 2015</a>.</p></li>
  <li><a href="http://biomedic.doc.ic.ac.uk/miccai16-bacon/">Workshop on Brain Analysis using COnnectivity Networks</a> at <a href="http://miccai2016.org">MICCAI 2016</a>.</p></li>
  <li><a href="https://sites.google.com/site/isbi2016bigdata/">Special Session on Big Data in Medical Imaging</a> at <a href="http://biomedicalimaging.org/2016/">ISBI 2016</a></p></li>
  <li> <a href="http://www.humanbrainmapping.org/files/2016/ED/AMNew%20prospects%20for%20imaging%20the%20developing%20brain%20opportunities%20and%20challenges.pdf">New prospects for imaging the developing brain: opportunities and challenges</a> at <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageID=3662">OHBM 2016</a></p></li>
  <li><a href="http://biomedic.doc.ic.ac.uk/miccai17-grail/">Workshop on GRaphs in biomedicAl Image anaLysis</a> at <a href="http://miccai2017.org/">MICCAI 2017</a>.</p></li>
  <li><a href="https://grail-miccai.github.io/grail2018/"> 2nd Workshop on GRaphs in biomedicAl Image anaLysis</a> at <a href="http://miccai2018.org/">MICCAI 2018</a>.</p></li>
  <li><a href="https://grail-miccai.github.io/grail2020/"> 3rd Workshop on GRaphs in biomedicAl Image anaLysis</a> at <a href="http://miccai2020.org/">MICCAI 2020</a>.</p></li>
  <li><a href="https://sslad2021.github.io/pages/challenge.html"> Self-supervised Learning for Next-Generation Industry-level Autonomous Driving - Continual Object Detection Challenge Track (Track 3) </a> at <a href="https://iccv2021.thecvf.com/home">ICCV 2021</a>.</p></li>
</ul>


<h2> Contact </h2>



<p><strong> EMAIL</strong><br>
sarah.parisot_AT_huawei.com</p>



<!-- <img class="fpimg" src="http://kieranhealy.org/files/misc/fp-image-strip-7.png" title="Trend"> -->



</div>


  <div class="posts">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      {{ if isset .Params "categories" }}
      <br/>
      {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>
      {{ if eq .Site.Params.truncate false }}
      {{ .Content }}
      {{ else if .Description }}
      <p>{{ .Description }}</p>
      <a href="{{ .Permalink }}">Read On &rarr;</a>
      {{ else }}
      {{ .Summary }}
      {{ if .Truncated }}<a href="{{ .Permalink }}">Read On &rarr;</a>{{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}
{{ partial "foot.html" . }}
